#realtime-usage-modal {
	height: calc(100% - 24px);

	.spinner svg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	.header {
		text-align: right;
		margin-top: 24px;

		.close-button {
			font-size: 48px;
			margin-right: 24px;

			&.activated {
				color: #000;
				opacity: 0.3;
			}
		}
	}

	.footer {
		.guide-sentence {
			color: #878787;
			font-size: 10px;
			text-align: center;
		}
	}
}