#community {
    font-size: 20px;

    .scroll {
    	height: 100%;
    }

    .list {	
		.item-thumbnail-left {
			padding-top: 18px;

			p {
				white-space: initial;
			}
		}
	}

    .community-main-image {
    	width: 600px;
    	height: 150px;
    	content: url('../img/grass.jpg');
    }

    .community-selection-container {
    	height: calc(100% - 150px);
    	overflow-x: hidden; 
    	overflow-y: scroll;
    	-webkit-overflow-scrolling: touch;
    }
}
