<div id="main-myenergy-line">
	<div class="line-container">
		<span class="line-image" ng-class="{'usage-trends': type === 'usage-trends', 'energy-calendar': type === 'energy-calendar', 'realtime-usage': type === 'realtime-usage', 'standby-power': type === 'standby-power', 'bill-estimator': type === 'bill-estimator', 'myhome-diet': type === 'myhome-diet', 'environmental-impact': type === 'environmental-impact'}"></span>
		<span class="line-label">{{label}}</span>
		<span class="line-figure">{{figure}}</span>
		<span class="ion-ios-arrow-right line-icon"></span>
	</div>
</div>