<ion-view view-title="Bill Estimator">
	<ion-content id="bill-estimator">

		<div class="list">
			<div class="item item-divider first">
  			</div>
			<div class="item">
				Billing cycle
				<span class="item-note">
					{{billingCycle}}
				</span>
			</div>

			<div class="item item-divider">
    			This month
  			</div>
			<div class="item">
				Current bill
				<span class="item-note">
					$ {{currentBill}}
				</span>
			</div>
			<div class="item">
				Forecast Bill
				<span class="item-note">
					$ {{forecastBill}}
				</span>
			</div>
			<div class="item">
				Billing Rate
				<span class="item-note">
					{{billingRate}}
				</span>
			</div>

			<div class="item item-divider">
  				Previous Months
  			</div>

  			<div id="previous-data">
				<div class="item header">
					<div class="row">
						<div class="col-33 text-center">Month</div>
						<div class="col-33 text-center">kWh</div>
						<div class="col-33 text-center">Bill</div>
					</div>
				</div>
				<div class="item content">
					<div class="row">
						<div class="col-33 text-center">2015/12</div>
						<div class="col-33 text-center">253.64</div>
						<div class="col-33 text-center">$ 35.3</div>
					</div>
				</div>
				<div class="item content">
					<div class="row">
						<div class="col-33 text-center">2015/11</div>
						<div class="col-33 text-center">302.4</div>
						<div class="col-33 text-center">$ 45.2</div>
					</div>
				</div>
				<div class="item content">
					<div class="row">
						<div class="col-33 text-center">2015/10</div>
						<div class="col-33 text-center">260.75</div>
						<div class="col-33 text-center">$ 36.7</div>
					</div>
				</div>
				<div class="item content">
					<div class="row">
						<div class="col-33 text-center">2015/9</div>
						<div class="col-33 text-center">280.12</div>
						<div class="col-33 text-center">$ 40.2</div>
					</div>
				</div>
			</div>

		</div>

		<div class="bill-table">

		</div>

	</ion-content>
</ion-view>
