<ion-view view-title="Monthly Overview">
	<ion-content id="energy-calendar" has-bouncing="false">
		
		<div id="calendar-header">
			
			<span class="ion-chevron-left calendar-button left" ng-click="button.clickLeft()"></span>
			<span id="calendar-date" ng-bind="calendarTitle"></span>
			<span class="ion-chevron-right calendar-button right" ng-click="button.clickRight()"></span>
			
			<div id="switch-button-container">
				<span class="calendar-switch-button" ng-class="{'clicked': calendarType === 'goal'}" ng-click="button.changeCalendarType('goal')">Goal</span>
				<span class="calendar-switch-button" ng-class="{'clicked': calendarType === 'time'}" ng-click="button.changeCalendarType('time')">Time</span>
			</div>

		</div>

		<div id="calendar-container">
			<div id="calendar">
				<span class="day-elem" ng-repeat="dayOfWeek in dayOfWeekList" ng-bind="dayOfWeek"></span>
				<span class="elem" ng-repeat="date in dateList track by $index">
					<!--<span class="elem-header">{{dayLabel(date.timestamp)}}</span>-->
					<span class="elem-badge" ng-class="{'green': date.excessPlan === false, 'night': date.activeTime === 'night', 'morning': date.activeTime === 'morning', 'afternoon': date.activeTime === 'afternoon', 'evening': date.activeTime === 'evening'}"></span>
				</span>
			</div>
		</div>

		
		<div class="item item-divider">Month information</div>

		<div class="list calendar-subcontents-container">
			
			<a class="item item-avatar">
		      	<img src="./img/forecast.jpg">
		      	<h2>Expected usage this month</h2>
		      	<p>{{forecastUsage}} kWh</p>
		    </a>

		    <a class="item item-avatar">
		      	<img src="./img/usage.gif">
		      	<h2>Total usage</h2>
		      	<p>{{totalUsage}} kWh</p>
		    </a>

		    <a class="item item-avatar">
		      	<img src="./img/aday.jpg">
		      	<h2>Average usage a day</h2>
		      	<p>{{dayUsage}} kWh</p>
		    </a>

		</div>

		<!--
		<div id="calendar-subcontents-container">
			<div class="sub-content">
				Expected usage this month
				<span class="sub-content-figure">{{forecastUsage}} kWh</span>
			</div>
			<div class="sub-content">
				Total usage so far
				<span class="sub-content-figure">{{totalUsage}} kWh</span>
			</div>
		</div>
		-->

	</ion-content>
</ion-view>