<ion-view>

    <ion-nav-title>
        <img src="./img/logo.png" style="width:100px; margin-top: 10px">
    </ion-nav-title>


	<ion-content id="community" scroll="false">

        <div class="community-main-image"></div>

        <!-- div class="img">
            <img height="200" width="700" src="./img/grass.jpg">
        </div>  -->

        <div class="community-selection-container">

            <div class="list">
                
                <a class="item item-thumbnail-left" ui-sref="main.compete">
                    <img src="./img/compete.png">
                    <h2>Compete with Friends</h2>
                    <p>Find your friends and compete to see who can meet their daily goal</p>
                </a>
            
                <div class="item item-thumbnail-left" ng-click="compare()">
                    <img src="./img/neighbor.png">
                    <h2>Neighbor Comparison</h2>
                    <p>Compare your energy use to users in similar homes</p>
                </div>

                <div class="item item-thumbnail-left" ng-click="openForum()">
                    <img src="./img/forum.png">
                    <h2>Forum</h2>
                    <p>Discuss your energy adventure on our Facebook page</p>
                </div>

                <a class="item item-thumbnail-left" ui-sref="main.donate">
                    <img src="./img/donate.png">
                    <h2>Donate to Charity</h2>
                    <p>Saved some energy? Give back by donating to charity</p>
                </a>

                <a class="item item-thumbnail-left" ui-sref="main.home-dr">
                    <img src="./img/dr.jpg">
                    <h2>Demand Response</h2>
                    <p>Save the environment by reducing usage at peak times</p>
                </a>

            </div>

        </div>
    </ion-content>
</ion-view>
